[Desktop Entry]
Name=HilDE
Comment=HilDE is a Lightweight Desktop Envirionment
Exec=/usr/local/bin/hilde-start
TryExec=/usr/local/bin/hilde-start
Type=XSession
