Source: hilde
Maintainer: HildigerR Vergaray <moonsdad@gmail.com>
Section: meta
Priority: optional
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5
Homepage: http://moonsdad.webs.com/

Package: hilde
Architecture: any
Pre-Depends: xdm
Depends: xinit, lwm | tinywm, lxpanel, fbautostart, xbindkeys, wmctrl, xtrlock
Recommends: termit, medit, speedcrunch
Suggests: firefox, meld, roll
Description: HilDE is a Lightweight Desktop Environment
