Source: hilde
Maintainer: HildigerR Vergaray <Maintainer@YmirSystesms.com>
Section: meta
Priority: optional
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5
Homepage: https://github.com/hildigerr/HilDE

Package: hilde
Architecture: any
Pre-Depends: xdm
Depends: xinit, lwm | tinywm, lxpanel, fbautostart, xbindkeys, wmctrl, xtrlock, xmessage
Recommends: hermit, medit, speedcrunch, imagemagick, pcmanfm, sxiv, archivemanager
Suggests: firefox, meld, pass, xpad, vlc, gimp
Description: HilDE is a Lightweight Desktop Environment
